#abtMe {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 80%;
  margin: auto;
}
#imgFrame {
  padding: 10px;
  max-width: 250px;
  flex: 10%;
  margin: auto;
  height: 100%;
}
#imgFrame>img {
  width: 100%;
  border-radius: 70%;
}
#abtMeDesFrame > p{
  padding: 5% 2% 0% 2%;
}
#abtMeDesFrame{
  flex: 70%;
  padding-left: 4%;
}

@media (max-width: 800px) {
  #abtMe {
    flex-direction: column;
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 5%;
  }
  #abtMeDesFrame {
    padding: 0% 5% 5% 5%;
    width: 100%;
    text-align: justify;
  }
}