/* /////////////////////////////////////// */
#home{
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 80%;
  margin: auto;
  border:  solid 1px black;
}
#imgFrame {
  /* border: solid 1px black; */
  padding: 10px;
  max-width: 250px;
  flex: 10%;
  margin: auto;
  height: 100%;
}
#imgFrame>img {
  width: 100%;
  border-radius: 50%;
}
.subHead {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 46%, rgba(246,251,252,1) 89%);
padding: 5px;
color: white;
}
#homeDesFrame > p{
  justify-content: center;
  text-align: center;
}

#homeDesFrame{
  flex: 70%;
  border: solid 1px green;
}

@media (max-width: 800px) {
#home {
flex-direction: column;

}
#homeDesFrame{
  border: solid 1px green;
  padding-left: 0%;
  width: 100%;
}
}




/* ////////////////// */
body {
  /* font-family: monospace; */
  font-weight: 700;
  font-size:50px;
  padding:20px;
  /* background:#005F6B; */
  color:#00DFFC
}

.type {
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .7s infinite steps(1),   
   t calc(var(--n)*.3s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}