/* navBar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #0d3451;
    opacity: 0.9;
    position: sticky;
    top: 0px;
    z-index: 100;
}
    
    /* logo */
    .logo {
        font-size: 20px;
        font-weight:700;
        color: #fff;
    }
    
    /* navBar menu */
    .menu {
        display: flex;
        font-size: 15px;
        font-weight:500;
    }
    .menu li:hover {
        background-color: white;
        color: #0d3451;
    }
    .menu li {
        padding: 5px 14px;
        list-style: none;
        color: white;
    }
    
/*responsive navBar menu*/

/* hamBurger button functionality */

input[type=checkbox]{
    display: none;
} 

/*hamBurger menu*/
.hamburger {
    display: none;
    user-select: none;
    color: #fff;
}

@media (max-width: 500px) {
    .menu {
        display:none;
        position: absolute;
        background-color: #0d3451;
        right: 0;
        left: 0;
        text-align: center;
    }
    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
        background-color: white;
        color: #0d3451;
    }
    .menu li + li {
        padding: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
}